<div class="container justify-content-center contt"> 
  <div>
    <button type="button" class="btn btn-secondary btn-lg  ">Cursos</button>
    <button type="button" class="btn btn-secondary btn-lg  ">Diplomados</button>
  </div>
  <div>
      <a href=""><img src="https://res.cloudinary.com/dtciysqlf/image/upload/v1533349674/logo-ITAM.png" alt="" class="logos"></a>
    <a href=""><img src="https://res.cloudinary.com/dtciysqlf/image/upload/v1533349085/Tec.png" alt="" class="logos"></a>
    <a href=""><img src="https://res.cloudinary.com/dtciysqlf/image/upload/v1533349685/ibero.jpg" alt="" class="logos"></a>
  </div>
</div>